<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.review.cvs.mapper.CollaboMapper">
    
	<resultMap id="collabo_Map" type="CollaboReview" >
	    <id property="id" column="id"/>
		<result property="title" column="title"/>
		<result property="total_price" column="total_price"/>
		<result property="recipe" column="recipe"/>
		<result property="tips" column="tips"/>
		<result property="like_count" column="like_count"/>
		<result property="grade_total_count" column="grade_total_count"/>
		<result property="view_count" column="view_count"/>
		<result property="ispenalty" column="ispenalty"/>
		<result property="regdate" column="regdate"/>
		<result property="updatedate" column="updatedate"/>
		<association property="user" javaType="User">
	    	<id property="id" column="user_id"/>
	    	<result property="email" column="email"/>
	    	<result property="nickname" column="nickname"/>
	    	<result property="photo" column="photo"/>
		</association>
		<association property="grade" javaType="Grade">
		    <id property="id" column="grade_id"/>
		    <result property="total" column="total"/>
	    	<result property="taste" column="taste"/>
	    	<result property="cost_ratio" column="cost_ratio"/>
	    	<result property="calory" column="calory"/>
		</association>
	</resultMap>
	
	<select id="collaboread" resultMap="collabo_Map">
		select * from tbl_collabo_review as tcr
		inner join tbl_grade as tg
		inner join tbl_user as tu 
		on tcr.id = #{id} and tcr.user_id = tu.id and tcr.grade_id = tg.id
		
    </select>
    
	<!--property는 클래스파일에 변수명 column은 디비  -->
	<resultMap id="photo_Map" type="AttachPhoto" >
	    <id property="attach_photo_fullname" column="fullname"/>
		<result property="regdate" column="regdate"/>
		<association property="collaboReview" javaType="CollaboReview">
	    	<id property="id" column="collabo_review_id"/> <!-- tbl_attach_photo의 컬럼. -->
		</association>
	</resultMap>

	<select id="collabophoto" resultMap="photo_Map">
		<![CDATA[select * from tbl_attach_photo where collabo_review_id = #{id};]]>    
	</select>
	
	<!-- 나중에 resultMap으로 바꿔야함. 메인화면에 출력하는 부분이라 사진이 필요한데
		사진 여러개 올린 게시물중에서 대표사진을 뭘로 하는지를 안정함. 대표사진중에 tbl_attach_photo중에 id가 제일 낮은걸 대표사진으로 정할까? -->
	
	<!-- /collabo/listall 구현 -->
	<select id="collabolist" resultType="CollaboReview">
	    <![CDATA[select * from tbl_collabo_review]]>
		
    </select>
    
	<!-- 콜라보 글 등록하기 (콜라보,평점,사진,상품 필요!. 사진 상품은 나중에...)-->
	<!-- 로그인 되어 있다고 가정. 예로 회원 id 9를 불러온다. -->
	<select id="create_get_user" resultType="User">
	    select * from tbl_user where id=9
	</select>
	
	
	<!-- 글 올리기 트랜잭션 -->
	<insert id="create_grade" parameterType="Grade" useGeneratedKeys="true" keyProperty="id">
        insert into tbl_grade (taste, cost_ratio, calory,total) values(#{taste}, #{cost_ratio}, #{calory},1)
    </insert>
	<insert id="create_collabo_review">
        insert into tbl_collabo_review (user_id, grade_id, title, total_price, recipe, tips) values(9,#{grade_id},#{collaboReview.title}, #{collaboReview.total_price},#{collaboReview.recipe},#{collaboReview.tips})
    </insert>
    
    
	
	
	
    
	<!-- 콜라보 글 수정하기. -->
	<update id="update">
        update tbl_collabo_review as tcr
		inner join tbl_grade as tg
		on tcr.grade_id = tg.id
		set tcr.title =#{title}, tcr.total_price=#{total_price}, tcr.recipe=#{recipe}, tcr.tips=#{tips},
		tg.taste=#{grade.taste}, tg.cost_ratio=#{grade.cost_ratio}, tg.calory=#{grade.calory},tg.total=#{grade.total}
		where tcr.id=#{id};
    </update>
    
	    
	<!--  콜라보 글 삭제하기 -->    
    <delete id="delete_collabo_review">
        delete from tbl_collabo_review where id=#{id}
    </delete>
    
    <delete id="delete_grade">
        delete from tbl_grade where id = #{grade.id}
    </delete>
	
	
    
<!-- 	<select id="collaboread" resultMap="collabo_Map">
        
    select tcr.id as id,
	tu.email as user_email, 
	tu.nickname as user_nickname, 
	tcr.title as title,
	tcr.total_price as totalprice, 
	tcr.recipe as recipe,
	tcr.tips as tips, 
	tcr.regdate as regdate,
	tg.total as total,
	tcr.like_count as like, 
	tap.fullname as photo 
	from tbl_collabo_review as tcr
	inner join tbl_attach_photo as tap
	inner join tbl_user as tu 
	inner join tbl_grade as tg 
	on tcr.user_id = tu.id and tcr.grade_id = tg.id and #{id} = tap.collabo_review_id;    
        
    </select> -->
    
    
        
    
    
    
</mapper>