<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.review.cvs.mapper.CollaboReplyMapper">
    
    <!--property는 클래스파일에 변수명 column은 디비  -->
	<resultMap id="Reply_Map" type="UserReview" >
	    <id property="id" column="id"/>
	    <result property="content1" column="content1"/>
	    <result property="content2" column="content2"/>
	    <result property="content3" column="content3"/>
	    <result property="help_count" column="help_count"/>
	    <result property="regdate" column="regdate"/>
		<result property="updatedate" column="updatedate"/>
		<result property="ispenalty" column="ispenalty"/>
		<association property="user" javaType="User">
	    	<id property="id" column="user_id"/>
	    	<result property="email" column="email"/>
	    	<result property="nickname" column="nickname"/>
	    	<result property="photo" column="photo"/>
		</association>
		<association property="grade" javaType="Grade">
		    <id property="id" column="grade_id"/>
		    <result property="total" column="total"/>
	    	<result property="taste" column="taste"/>
	    	<result property="cost_ratio" column="cost_ratio"/>
	    	<result property="calory" column="calory"/>
		</association>
		<association property="collaboReview" javaType="CollaboReview">
		    <id property="id" column="collabo_review_id"/>
		</association>
	</resultMap>
    
	<select id="list" resultMap="Reply_Map">
	        select * from tbl_user_review where collabo_review_id = #{c_id}
	        order by id desc
    </select>
    
	
	<select id="listPage" resultMap="Reply_Map">
		select * from tbl_user_review as tur
		inner join tbl_user as tu
		inner join tbl_grade as tg
		inner join tbl_collabo_review as tcr
		on tur.collabo_review_id = #{c_id} and tur.collabo_review_id= tcr.id
		and tu.id = tur.user_id
		and tur.grade_id = tg.id
		order by tur.id desc limit #{cri.pageStart}, #{cri.perPageNum}
	
    </select>
    
    <select id="count" resultType="int">
        select count(collabo_review_id) from tbl_user_review where collabo_review_id = #{c_id}
    </select>
    
    <!-- USER REVIEW등록!! -->
    <!-- 현재 USER정보 가져오고 그 다음에 그 정보를 인서트 해야함. 로그인 기능이 없으므로 일단 USER는 ID=9로 고정   -->
    <select id="create_reply_get_user" resultType="User">
	    select * from tbl_user where id=9
	</select>
	
    <!-- 테스트 -->
    <insert id="create_reply_grade" parameterType="Grade" useGeneratedKeys="true" keyProperty="id">
        insert into tbl_grade (taste, cost_ratio, calory, total) values(#{taste}, #{cost_ratio}, #{calory}, #{total})
    </insert>
    	
    <insert id="create_reply_user_review">
        insert into tbl_user_review (user_id, grade_id, collabo_review_id, content1, content2, content3) 
        values (9, #{grade_id}, #{userReview.collaboReview.id} , #{userReview.content1}, #{userReview.content2}, #{userReview.content3})
    </insert>
    
    
    <!-- <insert id="create_reply_grade" parameterType="Grade" useGeneratedKeys="true" keyProperty="id">
        insert into tbl_grade (taste, cost_ratio, calory, total) values(#{taste}, #{cost_ratio}, #{calory},#{total})
    </insert>
    	
    <insert id="create_reply_user_review">
        insert into tbl_user_review (user_id, grade_id, collabo_review_id, content1, content2, content3) 
        values (9, #{grade_id}, 29 ,#{content1}, #{content2}, #{content3})
    </insert> -->
    
    
    <!-- update는 조인, delete는 트랜잭션 사용 -->
    <!-- 수정 update 먼저 코딩시작 -->
	
	<!-- 수정하기전 기존 데이터를 모달에 불러오기 위해 사용하는 select 구문 -->
	<select id="update_get_info" resultMap="Reply_Map">
	    select *
		from tbl_user_review as tur
		inner join tbl_grade as tg
		inner join tbl_user as tu
		on tur.id= #{rno} and tur.grade_id=tg.id and tur.user_id = tu.id
	</select>
	
	<update id="update_put">
	    update tbl_user_review as tur
		inner join tbl_grade as tg on tur.grade_id = tg.id
		set tur.content1 = #{userReview.content1}, tur.content2 = #{userReview.content2}, tur.content3 = #{userReview.content3},
		tg.taste=#{userReview.grade.taste}, tg.cost_ratio=#{userReview.grade.cost_ratio}, tg.calory=#{userReview.grade.calory}, 
		tg.total=#{userReview.grade.total} where tur.id=#{rno}
	</update>


</mapper>