<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.review.cvs.mapper.UserReviewMapper">
 
<resultMap id="product_infoMap" type="ProductReview" >
<result property="like_count" column="like_count"/>
<result property="id" column="product_review_id"/>
<association property="product" javaType="Product">
    <id property="id" column="product_id"/>
    <result property="name" column="product_name"/>
    <result property="price" column="product_price"/>
    <result property="photo" column="product_photo"/>
</association>
<association property="grade" javaType="Grade">
    <id property="id" column="grade_id"/>
    <result property="total" column="grade_total"/>
    <result property="taste" column="grade_taste"/>
    <result property="cost_ratio" column="grade_cost_ratio"/>
    <result property="calory" column="grade_calory"/>
</association>
</resultMap>

<select id="product_info" resultMap="product_infoMap">

select pr.id as product_review_id, 
pr.like_count as like_count, 
p.id as product_id, 
p.name as product_name,
p.price as product_price, 
p.photo as product_photo, 
g.total as grade_total,
g.id as grade_id, 
g.taste as grade_taste, 
g.cost_ratio as grade_cost_ratio, 
g.calory as grade_calory 
from tbl_product_review as pr 
inner join tbl_product as p 
inner join tbl_grade as g
on pr.product_id = #{id} and pr.grade_id = g.id
</select>

<resultMap id="user_review_Map" type="UserReview" >
<result property="id" column="user_review_id"/>
<result property="content1" column="user_review_content1" />
<result property="content2" column="user_review_content2" />
<result property="content3" column="user_review_content3" />
<result property="help_count" column="user_review_help_count" />
<result property="regdate" column="user_review_regdate" />

<association property="user" javaType="User">
    <id property="id" column="user_id"/>
    <result property="nickname" column="user_nickname"/>
    <result property="photo" column="user_photo"/>
</association>

<association property="grade" javaType="Grade">
    <id property="id" column="grade_id"/>
    <result property="total" column="grade_total"/>
    <result property="taste" column="grade_taste"/>
    <result property="cost_ratio" column="grade_cost_ratio"/>
    <result property="calory" column="grade_calory"/>
</association>

<association property="productReview" javaType="ProductReview">
	<id property="id" column="product_review_id"></id>
</association>

</resultMap>

<select id = "user_review_list" resultMap="user_review_Map">
	select ur.id as user_review_id, 
	ur.content1 as user_review_content1,
	ur.content2 as user_review_content2, 
	ur.content3 as user_review_content3,
	ur.help_count as user_review_help_count, 
	ur.regdate as user_review_regdate,
	u.id as user_id, 
	u.nickname as user_nickname, 
	u.photo as user_photo,
	g.id as grade_id, 
	g.total as grade_total, 
	g.taste as grade_taste,
	g.cost_ratio as grade_cost_ratio, 
	g.calory as grade_calory, 
	p.id as product_review_id 
	from tbl_user_review as ur 
	inner join tbl_user as u 
	inner join tbl_grade as g 
	inner join tbl_product_review as p 
	on ur.product_review_id = #{id} and g.id = ur.grade_id and u.id = ur.user_id
</select>

 <select id="user_review_read" resultMap="user_review_Map" parameterType="hashmap">

	select ur.id as user_review_id, 
	ur.content1 as user_review_content1, 
	ur.content2 as user_review_content2, 
	ur.content3 as user_review_content3, 
	ur.help_count as user_review_help_count, 
	ur.regdate as user_review_regdate, 
	u.id as user_id, 
	u.nickname as user_nickname, 
	u.photo as user_photo,
	g.id as grade_id, 
	g.total as grade_total, 
	g.taste as grade_taste,
	g.cost_ratio as grade_cost_ratio, 
	g.calory as grade_calory, 
	p.id as product_review_id 
	from tbl_user_review as ur 
	inner join tbl_user as u 
	inner join tbl_grade as g 
	inner join tbl_product_review as p
	on ur.id = #{id} and u.id = #{user_id} and g.id = #{grade_id}
 </select>
 
 <update id = "user_review_update">
 	update tbl_user_review set 
 	content1 = #{content1}, 
 	content2 = #{content2}, 
 	content3 = #{content3} 
 	where id = #{id}
 	
 </update>
 
 <update id = "user_review_grade_update">
 
 	update tbl_grade set
 	taste = #{grade.taste}, 
 	cost_ratio = #{grade.cost_ratio}, 
 	calory = #{grade.calory}, 
 	total = #{grade.total} 
 	where id = #{grade.id}
 </update>
 
 <delete id = "user_review_delete">
 
 	delete from tbl_user_review where id = #{id}
 
 </delete>
 

 <insert id="user_review_grade_insert" parameterType="userReview" 
 useGeneratedKeys="true" keyProperty="grade.id">
	
	insert into tbl_grade(taste, cost_ratio, calory, total) 
	values(#{grade.taste}, 
			#{grade.cost_ratio},  
			#{grade.calory}, 
			#{grade.total})
 	
 </insert>
 
 <insert id = "user_review_insert">
 insert into tbl_user_review(user_id, grade_id, 
								product_review_id, 
								content1, content2, content3, 
								regdate)
	values(#{user.id}, 
	#{grade.id}, 
	#{productReview.id}, 
	#{content1}, 
	#{content2}, 
	#{content3}, 
	#{regdate})
 </insert>

</mapper>
