<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
    xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- DispatcherServlet Context: defines this servlet's request-processing infrastructure -->
	
	<context:component-scan base-package="org.zerock.user.controller" />
	
    <context:component-scan base-package="org.zerock.user.persistence" />
    <context:component-scan base-package="org.zerock.user.service" />
	
	<!-- 다국어 처리 -->
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
	   <property name="basenames">
	       <list>
	           <value>message.label</value>
	           <value>message.error</value>
	       </list>
	   </property>
	   <property name="defaultEncoding" value="UTF-8" />
	</bean>
	
	<!-- 인터셉터 샘플 -->
	<bean id="sampleInterceptor" class="org.zerock.user.interceptor.SampleInterceptor" />
	<mvc:interceptors>
       <mvc:interceptor>
			<mvc:mapping path="/user/doA" />
			<mvc:mapping path="/user/doB" />
			<ref bean="sampleInterceptor" />
       </mvc:interceptor>
   </mvc:interceptors>
	
    <!-- 로그인 처리 -->
    <bean id="loginInterceptor" class="org.zerock.user.interceptor.LoginInterceptor" />
    <!-- 접근 권한 처리 -->
    <bean id="authInterceptor" class="org.zerock.user.interceptor.AuthInterceptor" />
    
	<mvc:interceptors>
		<mvc:interceptor>
           <mvc:mapping path="/user/loginPost"/>
           <ref bean="loginInterceptor" />
		</mvc:interceptor>
		
		<mvc:interceptor>
           <mvc:mapping path="/sboard/list"/>
           <mvc:mapping path="/sboard/register"/>
           <mvc:mapping path="/sboard/modifyPage"/>
           <mvc:mapping path="/sboard/removePage"/>
           <ref bean="authInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>
	
	
</beans>
